@model IEnumerable<GarageLux.Models.IncheckedVehicle>

@{
    ViewBag.Title = "  Garage Overview ";
}
<div class="row">
    <div class="title col-md-4">
        <h2>Register</h2>
    </div>
    <div class="col-md-4 pull-right">

        <button type="button" id="btn-create" class="btn btn-primary pull-right" onclick="location.href='@Url.Action("Create")'">Add New Vehicle</button>
    </div>
</div>

<table class="table">
    <tr>
        @*<th>
                @Html.DisplayNameFor(model => model.RegNr)
            </th>*@
        <th>
            Typ av fordon
        </th>
        <th>
            Märke
        </th>
        <th>
            Modell
        </th>
        @*<th>
                @Html.DisplayNameFor(model => model.Wheel)
            </th>*@
        @*<th>
                @Html.DisplayNameFor(model => model.CheckInTime)
            </th>*@
        @*<th>
                @Html.DisplayNameFor(model => model.CheckOutTime)
            </th>*@
        <th>
            @Html.DisplayNameFor(model => model.Status)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            @*<td>
                    @Html.DisplayFor(modelItem => item.RegNr)
                </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.Vtype)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Brand)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Model)
            </td>
            @*<td>
                    @Html.DisplayFor(modelItem => item.Wheel)
                </td>*@
            @*<td>
                    @Html.DisplayFor(modelItem => item.CheckInTime)
                </td>*@
            @*<td>
                    @Html.DisplayFor(modelItem => item.CheckOutTime)
                </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>

                <button type="button" class="btn btn-primary" onclick="location.href='@Url.Action("Edit", new { id = item.ID })'">Edit</button>
                <button type="button" class="btn btn-info" onclick="location.href='@Url.Action("Details", new { id = item.ID })'">Details</button>
                <button type="button" class="btn btn-danger" onclick="location.href='@Url.Action("Delete", new { id = item.ID })'">Delete</button>


                @if (!item.Status)

                {
                   
                    <button type="button" class="btn btn-success " onclick="location.href='@Url.Action("CheckOut", new { id = item.ID })'"> CheckOut </button> 
                   
                }

            </td>
        </tr>
    }

</table>






