@model IEnumerable<GarageLux.Models.IncheckedVehicle>

@{
    ViewBag.Title = "  Garage Overview ";
}



    <button type="button" class="btn btn-primary" onclick="location">Click on me</button>


@Html.ActionLink("IncheckedVehicles", "Create")
@Url.Action("Create")


<table class="table">
    <tr>
        @*<th>
                @Html.DisplayNameFor(model => model.RegNr)
            </th>*@
        <th>
            Typ av fordon
        </th>
        <th>
            Märke
        </th>
        <th>
            Modell
        </th>
        @*<th>
                @Html.DisplayNameFor(model => model.Wheel)
            </th>*@
        @*<th>
                @Html.DisplayNameFor(model => model.CheckInTime)
            </th>*@
        @*<th>
                @Html.DisplayNameFor(model => model.CheckOutTime)
            </th>*@
        <th>
            @Html.DisplayNameFor(model => model.Status)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            @*<td>
                    @Html.DisplayFor(modelItem => item.RegNr)
                </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.Vtype)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Brand)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Model)
            </td>
            @*<td>
                    @Html.DisplayFor(modelItem => item.Wheel)
                </td>*@
            @*<td>
                    @Html.DisplayFor(modelItem => item.CheckInTime)
                </td>*@
            @*<td>
                    @Html.DisplayFor(modelItem => item.CheckOutTime)
                </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
                @Html.ActionLink("Details", "Details", new { id = item.ID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.ID })|
                @if (!item.Status)
                {    @Html.ActionLink("Check Out", "CheckOut", new { id = item.ID })
                }
            </td>
        </tr>
    }

</table>
