@model IEnumerable<GarageLux.Models.IncheckedVehicle>

@{
    ViewBag.Title = "Register";
}

<h2>Register</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Registreringsnummer
        </th>
        <th>
            Typ av fordon
        </th>
        <th>
            Märke
        </th>
        <th>
            Modell
        </th>
        <th>
            Antal hjul
        </th>
        <th>
            Incheckning
        </th>

        <th>
            Utcheckning
        </th>

        <th>
            Utcheckat fordon
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.RegNr)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Vtype)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Brand)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Model)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Wheel)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CheckInTime)
            </td>
            @if (item.Status)
            {
                <td>
                    @Html.DisplayFor(modelItem => item.CheckOutTime)
                </td>
            }
            else
            {
                <td>
                    NAN
                </td>

            }
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>

                <button type="button" class="btn btn-primary" onclick="location.href='@Url.Action(" Edit", new { id=item.ID })'">Edit</button>
                <button type="button" class="btn btn-info" onclick="location.href='@Url.Action(" Details", new { id=item.ID })'">Details</button>
                <button type="button" class="btn btn-danger" onclick="location.href='@Url.Action(" Delete", new { id=item.ID })'">Delete</button>


                @if (!item.Status)

                {

                <button type="button" class="btn btn-success " onclick="location.href='@Url.Action(" CheckOut", new { id=item.ID })'"> CheckOut </button>

                }

            </td>
        </tr>
    }

</table>
